{% extends 'base.html' %}

{% block page_title %}Mot de passe oublié{% endblock %}
{% block navbar_title %}Mot de passe oublié{% endblock %}

{% block container %}

    <div class="container px-3">

        <form class="mt-3" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email">Adresse E-mail</label>
                <input id="id_email" type="email" name="email" class="form-control{% if form.errors %} is-invalid{% endif %}" aria-describedby="emailHelp">
                {% if form.errors %}
                    <small id="emailHelp" class="text-danger">Ne peut être vide</small>
                {% endif %}
                <small id="emailHelp" class="form-text text-muted">Ton e-mail courrant utilisé pour recevoir les news Vertigo.</small>
            </div>
            <button class="btn btn-lg btn-outline-success" type="submit">Envoyer</button>
        </form>
    </div>


{% endblock %}