{% extends 'base.html' %}

{% block page_title %}Mot de passe changé{% endblock %}
{% block navbar_title %}Mot de passe changé !{% endblock %}

{% block container %}

    <div class="container px-3">

        <p class="mt-3">
            Ton mot de passe a bien été changé. Tu peux te connecter maintenant !
        </p>

        <div class="text-center mt-4" >
            <form action="{{ request.scheme }}://{{ request.get_host }}{% url 'custom_login' %}">
                <button type="submit" class="btn btn-outline-success">Page de login</button>
            </form>
        </div>

    </div>

{% endblock %}