{% extends 'base.html' %}

{% block page_title %}Message envoyé{% endblock %}
{% block navbar_title %}Message envoyé{% endblock %}

{% block container %}

    <div class="container px-3">
        <p class="mt-3">
            On vient de t'envoyer un email d'instructions pour réinitialiser ton mot de passe, si un compte associé à cet email existe bien sûr !
        </p>

        <div class="text-center mt-4" >
            <form action="{{ request.scheme }}://{{ request.get_host }}{% url 'custom_login' %}">
                <button type="submit" class="btn btn-outline-success">Page de login</button>
            </form>
        </div>
    </div>
{% endblock %}