{% extends 'base.html' %}

{% block page_title %}Accord de responsabilité{% endblock %}
{% block navbar_title %}Accord de responsabilité{% endblock %}

{% block container %}

    <div class="container with-padding">

        <div class="card bg-light mt-3">

            <div class="card-body">
                <p class="card-text">En empruntant du matériel à l'association Vertigo, je m'engage à en prendre soin lors de son usage, à le stocker dans de bonnes conditions et à le ramener le jeudi suivant dans les mains du responsable matériel.</p>
                <p class="card-text">Tout manquement à ces principes pourra entraîner une suspension du droit à l'emprunt au sein de l'association et dans le cas d'une perte, au remboursement de toute ou partie du matériel en question.</p>

                <div class="row">
                    <div class="col">
                        <form action="{{ request.path }}">
                            <button class="btn btn-lg btn-light btn-block" type="submit">Je refuse</button>
                        </form>
                    </div>
                    <div class="col">
                        <form action="{% url 'agreement_url' url_type %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="agreement" value="true" />
                            <button class="btn btn-lg btn-danger btn-block" type="submit">J'accepte</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}