{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site meta tags and more -->
    <meta name="description" content="Application web de gestion du matériel pour l'association d'escalade et canyoning Vertigo à Montpellier." />
    <meta name="author" content="Rémi de Chazelles">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#C93F3F">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#C93F3F">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#C93F3F">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>{% block page_title %}{% endblock %} | Vertigo</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark red-vertigo fixed-top">
        <span class="navbar-brand">{% block navbar_title %}{% endblock %}</span>
        {% if user.is_authenticated and types %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Basculer la navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            {% for type in types %}
                <li class="nav-item{% if type.url == current_type.url %} active{% endif %}">
                    <a class="nav-link" href="{% url 'list_url' type.url %}">{{ type.plural|title }}</a>
                </li>
            {% endfor %}

            </ul>

            <ul class="navbar-nav">
                <li class="nav-item active">
                    <span class="nav-link">{{ user.get_short_name }} (<a class="font-italic text-white" href="{% url 'logout' %}">déconnecter</a>)</span>
                </li>
            </ul>
        </div>
        {% endif %}
    </nav>

        {% block container %}{% endblock %}

    <!-- footer -->
    <div class="text-center">
    <img src="{% static '/img/logo.png' %}" class="mx-auto d-block top-margin" alt="Logo Vertigo" height="64">
        <p class="discret top-padding-sm"><small>VertigoDjango 0.1.0{% if perms.vertigo.add_equipment %} - <a href="{% url 'admin:index' %}">Administration</a></small>{% endif %}</p>
    </div>

    <!-- JS libs -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    {% block script %}{% endblock %}

</body>
</html>