{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="form-container">
        <form class="margin-10" action="{% url 'borrowing_url' type_slug equipment_id %}" method="post">

            {% csrf_token %}

            {% for field in form %}
                {{ field.non_field_errors }}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <div class="row">
                <div class="col">
                    <button class="btn btn-lg btn-light btn-block" type="button" id="cancel">Annuler</button>
                </div>
                <div class="col">
                    <button class="btn btn-lg btn-danger btn-block" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>

    <script src="{% static 'js/cancel.js' %}"></script>

{% endblock %}