{% extends 'base.html' %}
{#{% load static %}#}

{% block content %}
    <div class="container with-padding">
        <form class="first-element" action="{% url 'borrowing_url' url_type equipment_id %}" method="post">

            {% csrf_token %}

            {% for field in form %}
                {{ field.non_field_errors }}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col">
                    <a class="btn btn-lg btn-light btn-block" type="button" id="cancel" href="{{request.META.HTTP_REFERER}}">Annuler</a>
                </div>
                <div class="col">
                    <button class="btn btn-lg btn-danger btn-block" type="submit">Valider</button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}