{% extends 'base.html' %}

{% block page_title %}Liste des {{ current_type.plural }}{% endblock %}
{% block navbar_title %}Liste des {{ current_type.plural }}{% endblock %}

{% block container %}

    {% if data %}

    <div class="container">
        <table class="table table-striped table-hover white-bg opaque ">
            <thead>
                <tr>
                    <th>n°</th>
                    <th>Responsable</th>
                    <th>Depuis&nbsp;le</th>
                </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr class='clickable-row' data-url="{% url 'borrowing_url' current_type.url row.item_id %}">
                    <td><span class="badge badge-pill badge-{{ row.color }}">{{ row.item.ref }}</span></td>
{#                    <td><a href="{% url 'borrowing_url' current_type.ref row.item_id %}">{{ row.user.get_full_name|default_if_none:"---" }}</a></td>#}
                    <td>{{ row.user.get_full_name|default_if_none:"---" }}</td>

                    <td class="td-center">{{ row.date|date:"j N" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}

    <div class="container px-3">
        <div class="alert alert-primary mt-3" role="alert">Il n'y a pas encore d'emprunt enregistré...</div>
    </div>

    {% endif %}

    <script>
        jQuery(document).ready(function($) {
            $('.clickable-row').click(function() {
                window.location = $(this).data('url');
            });
        });
    </script>

{% endblock %}